body
  margin: 0
  font: 14px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

.button
  background: black
  border: 2px solid black
  padding: 0 20px
  height: 40px
  line-height: 40px
  color: white
  display: inline-block
  text-decoration: none
  outline: none
  transition: background-color .3s ease, color .3s ease
  &:hover
    background: white
    color: black
